@code {

    [Fact]
    public void RenderSampleComponentWithValueGreaterThanZero()
    {
        //Arrange
        using var ctx = new TestContext();

        //Act
        var cut = ctx.Render(@<SampleComponent MessageCount="3" />);

        //Assert
        cut.MarkupMatches("<h3>Inbox</h3><h4>You currently have 3 questions from employees!</h4>");
    }

    [Fact]
    public void RenderSampleComponentWithZero()
    {
        //Arrange
        using var ctx = new TestContext();

        var cut = ctx.Render(@<SampleComponent MessageCount="0" />);

        cut.MarkupMatches("<h3>Inbox</h3><h4>No questions from employees! All good!</h4>");
    }
}